.containerNavBar {
  width: 90vw;
  background-color: white;
  display: flex;
  align-items: center;
}

.NavBar {
  display: flex;
  align-items: center;
  width: 83vw;
  margin-inline: 5vw;
}

h1 {
  color:  #0290FF;
}

.books,
.categories {
  color: darkgray;
  text-decoration: none;
  margin-left: 4rem;
}

.usr_icon {
  margin-right: 3.5rem;
  border: 1px solid rgb(185, 181, 181);
  border-radius: 50%;
}

.headIco {
  color:  #0290FF;
  padding: 0.85rem;
  font-size: 20px;
}